header {
  text-align: center;
}

.tabletop-wrapper {}

.tabletop {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
}

.grid-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.grid-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  border: 2px solid black;
}

.element-label {
  font-size: 0.8em;
  margin: 2px;
}

.direction-emoji {
  font-size: 1.5em;
  align-self: center;
  flex-grow: 1;
}

.message-input-wrapper {}

.message-input-container {
  width: 300px;
  padding: 1em 0;
  margin-left: auto;
  margin-right: auto;
}

.message {
  padding: 5px;
}

.message-success {
  border-top: 2px solid rgb(73, 196, 73);
  border-bottom: 2px solid rgb(73, 196, 73);
}

.message-failure {
  border-top: 2px solid rgb(255, 25, 25);
  border-bottom: 2px solid rgb(255, 25, 25);
}

.command-input {
  border: 0;
  border-bottom: 2px solid cornflowerblue;
  padding: 5px;
  margin-right: 5px;
}

.command-input-submit {
  border: 2px solid cornflowerblue;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.command-input-submit:hover {
  background-color: cornflowerblue;
  color: white;
}